@model UserViewModel
<body style="background: rgb(218, 187, 131);">
    <div class="container py">
        <div class="main-body">
            <div>
                <<div class="mb-3" style=" display:flex; justify-content:center">
                    <div class="card" style=" background:#20e1a8; min-height:380px; min-width: 575.984px; max-height:380px; max-width: 575.984px">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                @if (Model.Sex == 0)
                                {
                                    <img src="~/images/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                }
                                else
                                {
                                     <img src="~/images/avatar8.png" alt="Admin" class="rounded-circle" width="150">

                                }
                                <div class="mt-3">
                                    <h4>
                                        @($"{Model.FirstName} {Model.LastName}")
                                    </h4>
                                    <p class="text-secondary mb-1">@($"Email: {Context.User.Identity.Name}")</p>
                                    <br />
                                    <a asp-action="Logout" asp-controller="Account">
                                        <button class="btn btn-primary">Logout</button>
                                    </a>
                                    <a asp-action="GetOrders" asp-controller="AccountProfile">
                                        <button class="btn btn-primary">Get Orders</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form asp-action="ChangeProfile" asp-controller="AccountProfile" method="post">
                    <div class="col-md-8" style="margin-left:18%;">
                        <div class="card mb-3" style="background:#20e1a8;">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" value="@Model.FirstName" asp-for="FirstName" style="background:#20e1a8; border-color:black">
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">LastName</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" value="@Model.LastName" asp-for="LastName" style="background:#20e1a8; border-color:black">
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="email" class="form-control" value="@Model.Email" asp-for="Email" style="background:#20e1a8; border-color:black">
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="tel" class="form-control" value="@Model.Phone" asp-for="Phone" style="background:#20e1a8; border-color:black">
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Sex</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" value="@Model.Sex" asp-for="Sex" style="background:#20e1a8; border-color:black">
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Birth Date</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Html.TextBoxFor(q=>q.BirthDate,new {type = "datetime", style = $"background:#20e1a8; border-color:black",value = $"{Model.BirthDate}",@class = "form-control"})
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Age</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="number" class="form-control" value="@Model.Age" asp-for="Age" style="background:#20e1a8; border-color:black">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-9 text-secondary">
                                        <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>