@model List<OrderViewModel>
<body style="background: rgb(218, 187, 131);margin-bottom: 0px;">
    <div class="py">
        <h1 style="font-style: italic;text-align: center;margin-bottom: 14px;margin-top: 10px;">Orders</h1>
        <div class="d-flex justify-content-center" style="margin-bottom: 14px;">
            <div class="table-responsive" style="border-radius: 26px;border-style: solid;border-color: var(--bs-black);background: #20e1a8;width: 1500px;padding: 6px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>OrderId</th>
                            <th>UserEmail</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>HotelName</th>
                            <th>CountOfDays</th>
                            <th>DateOfCreating</th>
                            <th>DateOfTrip</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.OrderId</td>
                                <td>@order.UserEmail</td>
                                <td>@order.Country</td>
                                <td>@order.City</td>
                                <td>@order.HotelName</td>
                                <td>@order.CountOfDays</td>
                                <td>@order.DateOfCreating</td>
                                <td>@order.DateOfTrip</td>
                                <td>
                                    <form method="post" asp-action="CancelOrder" asp-controller="AccountProfile">
                                        <input type="hidden" value="@order.OrderId" name="orderId">
                                        <button class="btn btn-primary" type="submit" style="background: var(--bs-red);">Cancel</button>
                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/assets/js/bs-init.js"></script>
    </div>

</body>