@model List<OrderViewModel>
<body style="background: rgb(218, 187, 131);margin-bottom: 0px;">
    <div class="py">
        <h1 style="font-style: italic;text-align: center;margin-bottom: 14px;margin-top: 10px;">Orders</h1>
        <div class="d-flex justify-content-center" style="margin-bottom: 14px;">
            <div class="table-responsive" style="border-radius: 26px;border-style: solid;border-color: var(--bs-black);background: #20e1a8;width: 1500px;padding: 6px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>UserEmail</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>HotelName</th>
                            <th>CountOfDays</th>
                            <th>DateOfCreating</th>
                            <th>DateOfTrip</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.UserEmail</td>
                                <td>@order.Country</td>
                                <td>@order.City</td>
                                <td>@order.HotelName</td>
                                <td>@order.CountOfDays</td>
                                <td>@order.DateOfCreating</td>
                                <td>@order.DateOfTrip</td>
                                <td><button class="btn btn-primary" type="button" style="background: var(--bs-red);" data-bs-target="#toast-1" data-bs-toggle="toast">Cancel</button></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="toast fade bottom-0 end-0 hide" role="alert" id="toast-1" style="position: fixed;margin: 30px;background: #d0e745;border-radius: 20px;border-width: 1px;border-color: var(--bs-link-hover-color);">
            <div class="toast-header" style="background: #d0e745;border-radius: 20px;font-size: 15px;border-width: 2px;border-color: rgba(0,0,0,0.41);"><i class="fas fa-check" style="font-size: 20px;padding-right: 5px;"></i><strong class="me-auto" style="font-size: 18px;">Order calcellation</strong><button class="btn-close ms-2 mb-1 close" data-bs-dismiss="toast"></button></div>
            <div class="toast-body" role="alert">
                <p class="d-flex" style="font-size: 20px;">Successful! Order is canceled!</p>
            </div>
        </div>
        <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/assets/js/bs-init.js"></script>
    </div>

</body>